.inventory {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.inventory__items-list {
    margin-top: 10px;
    flex-grow: 1;
}

.inventory__weight-bar-holder {
    align-self: stretch;
    flex-grow: 0;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.inventory__weight-bar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-radius: 10px;
    border-width: 0px;
    flex-grow: 0;
}

.inventory__weight-bar .unity-progress-bar__background {
    border-radius: 10px;
    background-color: var(--light-black);
}

.inventory__weight-bar .unity-progress-bar__progress {
    background-image: resource("Assets/Resources/UI/Jauge_poid.png");
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -unity-background-scale-mode: stretch-to-fill;
}

.inventory__main {
    background-color: var(--light-background);
    border-left-width: 2px;
    border-color: var(--bone-white);
    padding-top: 5px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inventory__items-label {
    border-bottom-color: var(--bone-white);
    border-bottom-width: 1px;
    -unity-text-align: middle-center;
    width: 100%;
}

.inventory__equipment-label {
    border-bottom-color: var(--bone-white);
    border-bottom-width: 1px;
    -unity-text-align: middle-center;
    width: 100%;
    align-content: flex-start;
}

.inventory__item-layout {
    position: absolute;
}

.inventory__grid-background {
    position: absolute;
    border-color: var(--bone-white);
}

.inventory__slot {
    opacity: 0.99;
    background-image: resource("Assets/Resources/UI/whiteSlotBackground.png");
    -unity-background-image-tint-color: black;
    border-color: var(--bone-white);
    border-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.inventory__item {
    border-color: var(--bone-white);
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.05);
}

.inventory__equipment {
    padding-top: 5px;
    background-color: var(--dark-background);
    flex-shrink: 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inventory__left-armor-slots-holder {
    margin-right: 50px;
    justify-content: center;
    align-items: stretch;
}
.inventory__right-armor-slots-holder {
    margin-left: 50px;
    justify-content: center;
    align-items: stretch;
}

.inventory__armor-slot-holder-head {
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-top: 20px;
}

.inventory__armor-slot-head {
    background-color: green;
    width: 64px;
    height: 64px;
    margin-right: 10%;
}

.inventory__armor-slot-holder-chest {
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-top: 20px;
}

.inventory__armor-slot-chest {
    background-color: red;
    width: 64px;
    height: 64px;
    margin-right: 10%;
}

.inventory__armor-slot-holder-leg {
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-top: 20px;
}

.inventory__armor-slot-leg {
    background-color: blue;
    width: 64px;
    height: 64px;
    margin-right: 10%;
}

.inventory__armor-slot-holder-boots {
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-top: 20px;
}

.inventory__armor-slot-boots {
    background-color: cyan;
    width: 64px;
    height: 64px;
    margin-right: 10%;
}

.inventory__armor-label {
}

.inventory__player-view {
    border-color: var(--bone-white);
    flex-grow: 0;
    flex-shrink: 0;
    width: 5%;
}

.inventory__player-view-and-armor-slots {
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.inventory__item-description-label {
    border-bottom-color: var(--bone-white);
    border-bottom-width: 1px;
    -unity-text-align: middle-center;
    width: 100%;
}

.inventory__item-preview-holder {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inventory__item-preview-item-holder {
    background-color: gray;
    flex-grow: 1;
    flex-shrink: 1;
    align-content: flex-start;
}

.inventory__item-stats-holder {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.inventory__stats-label {
    border-color: var(--bone-white);
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    -unity-text-align: middle-center;
}

.inventory__item-name-label {
    border-color: var(--bone-white);
    border-top-width: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    -unity-text-align: middle-center;
}

.inventory__item-wheel-holder {
    margin-top: 5%;
    width: 80%;
    max-height: 50%;
    aspect-ratio: 1;
}

.inventory__item-description {
    border-left-width: 2px;
    border-color: var(--bone-white);
    padding-top: 5px;
    background-color: var(--dark-background);
    flex-shrink: 0;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inventory__description-label {
    border-color: var(--bone-white);
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    -unity-text-align: middle-center;
}

.inventory__item-stat {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inventory__item-stat-title {
    align-self: flex-start;
}

.inventory__item-stat-value {
    align-self: flex-end;
}

.inventory__item-description-text {
    white-space: normal;
    -unity-text-align: middle-left;
    width: 100%;
}

.inventory__description-holder {
}

.inventory__item-wheel-item {
    
}