.inventory {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.inventory__equipement {
    border-left-width: 2px;
    border-color: var(--bone-white);
    padding-top: 20px;
    background-color: #0d00ff;
    flex-shrink: 0;
    width: 25%;
}

.inventory__item-description {
    border-left-width: 2px;
    border-color: var(--bone-white);
    padding-top: 20px;
    background-color: #00ff0d;
    flex-shrink: 0;
    width: 25%;
}

.inventory__items-list {
    margin-top: 10px;
    flex-grow: 1;
}

.inventory__weight-bar-holder {
    align-self: stretch;
    flex-grow: 0;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.inventory__weight-bar {
    position: absolute; 
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-radius: 10px;
    border-width: 0px;
    flex-grow: 0;
}

.inventory__weight-bar .unity-progress-bar__background {
    border-radius: 10px;
    background-color: var(--light-black)
}

.inventory__weight-bar .unity-progress-bar__progress {
    background-image: resource("Assets/Resources/UI/Jauge_poid.png")
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -unity-background-scale-mode: stretch-to-fill;
}

.inventory__main {
    background-color: var(--light-background);
    border-left-width: 2px;
    border-color: var(--bone-white);
    padding-top: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inventory__items-label {
    -unity-text-align: middle-center;
}
.inventory__item-layout {
    position: absolute;
}
.inventory__grid-background {
    position: absolute;
    border-color: var(--bone-white);
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.inventory__slot {
    opacity: 0.99;
    background-image: resource("Assets/Resources/UI/whiteSlotBackground.png");
    -unity-background-image-tint-color: black;
    border-color: var(--bone-white);
    border-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}
.inventory__item {
    border-color: var(--bone-white);
    border-width: 1px;
}